@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Raleway;
  height: 100vh;
}

header {
  background-color: #87DE87;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem;
  padding-inline: 6.75rem;
  width: 100%;
  height: 6.313rem;
}
@media (max-width: 375px) {
  header {
    padding-inline: 2rem;
    padding-block: 0;
    height: 4rem;
  }
}

.navbar .nav-items {
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar .nav-items li {
  margin-inline-start: 1.5rem;
}
.navbar .nav-items li a {
  font-size: 1.125rem;
  font-weight: 600;
  text-decoration: none;
  color: #333333;
}
.navbar .hamburger {
  display: none;
}
@media (max-width: 375px) {
  .navbar .nav-items {
    display: none;
  }
  .navbar .hamburger {
    display: block;
  }
}

.header-btn {
  background-color: #FFFFFF;
  border: none;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2509803922);
  color: #333333;
  font-weight: 700;
  font-size: 1.125rem;
  cursor: pointer;
  width: 8rem;
  height: 2.5rem;
  top: 1.875rem;
  line-height: 1.321rem;
  font-family: Raleway;
  text-transform: uppercase;
}

.hero-section {
  display: flex;
  position: relative;
  width: 100%;
  height: 640px;
}
@media (max-width: 375px) {
  .hero-section {
    flex-direction: column;
  }
}
.hero-section .hero-section__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.2509803922) inset;
}
.hero-section .hero-section__info {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 627px;
  height: auto;
  top: 307px;
  left: 196px;
  background-color: #333333;
  box-sizing: border-box;
}
@media (max-width: 1000px) {
  .hero-section .hero-section__info {
    width: 60%;
  }
}
@media (max-width: 375px) {
  .hero-section .hero-section__info {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
  }
}
.hero-section .hero-section__info h1 {
  color: #FEFEFE;
  margin-block-end: 1.5rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.522rem;
}
@media (max-width: 375px) {
  .hero-section .hero-section__info h1 {
    font-size: 2.25rem;
    text-align: center;
    margin-block-end: 1rem;
  }
}
.hero-section .hero-section__info p {
  color: #FEFEFE;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.321rem;
}
@media (max-width: 375px) {
  .hero-section .hero-section__info p {
    font-size: 1rem;
  }
}
.hero-section .hero-section__info .hero-section__content {
  margin-block: 2rem;
  margin-inline-start: 1.5rem;
  margin-inline-end: 1.188rem;
}
@media (max-width: 375px) {
  .hero-section .hero-section__info .hero-section__content {
    order: -1;
    margin-inline: 2rem;
  }
}
.hero-section .hero-section__info .hero-section__green-bar {
  background-color: #87DE87;
  width: 2rem;
  height: auto;
}
@media (max-width: 375px) {
  .hero-section .hero-section__info .hero-section__green-bar {
    order: 1;
    height: 3.063rem;
    width: 100%;
  }
}

.card-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 7.5rem 6.75rem;
}
@media (max-width: 375px) {
  .card-section {
    padding-inline: 1.938rem;
    padding-block-start: 3rem;
    padding-block-end: 3.25rem;
  }
}
.card-section .card-section-header h1 {
  color: #333333;
  font-size: 3rem;
  font-weight: 700;
  margin-block-end: 5.375rem;
  text-align: center;
}
@media (max-width: 375px) {
  .card-section .card-section-header h1 {
    font-size: 2.25rem;
    margin-block-end: 5.75rem;
  }
}
.card-section .card-section-content {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
@media (max-width: 375px) {
  .card-section .card-section-content {
    flex-direction: column;
    gap: 5.75rem;
  }
}
.card-section .card-section__card {
  display: flex;
  flex-direction: column;
  padding-block: 2rem;
  padding-inline: 2rem 2.125rem;
  background-color: #333333;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2509803922);
}
@media (max-width: 375px) {
  .card-section .card-section__card {
    padding: 0rem;
    position: relative;
  }
}
.card-section .card-section__card .card-section__card--header {
  display: flex;
  align-items: center;
  margin-block-end: 1.063rem;
}
@media (max-width: 375px) {
  .card-section .card-section__card .card-section__card--header {
    flex-direction: column;
    margin-block-end: 0;
  }
}
.card-section .card-section__card .card-section__card--header .icon-container {
  background-color: #87DE87;
  border-radius: 5rem;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: 1.5rem;
}
@media (max-width: 375px) {
  .card-section .card-section__card .card-section__card--header .icon-container {
    position: absolute;
    margin-inline: 0;
    top: -60px;
  }
}
.card-section .card-section__card .card-section__card--header .card-section__card--title h3 {
  font-weight: 600;
  font-size: 1.5rem;
  color: #FEFEFE;
  margin-block-end: 0.625rem;
}
.card-section .card-section__card .card-section__card--header .card-section__card--title h4 {
  font-weight: 400;
  font-size: 1.5rem;
  font-style: italic;
  color: #FEFEFE;
}
@media (max-width: 375px) {
  .card-section .card-section__card .card-section__card--header .card-section__card--title {
    text-align: center;
    margin-block-start: 5.75rem;
  }
}
.card-section .card-section__card .card-section__card--content p {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.321rem;
  color: #FEFEFE;
  text-align: left;
}
@media (max-width: 375px) {
  .card-section .card-section__card .card-section__card--content {
    padding-inline: 1rem;
    padding-block: 1.5rem;
  }
}

.more-section {
  width: 100%;
  background-color: #333333;
  padding-block-start: 4rem;
}
@media (max-width: 375px) {
  .more-section {
    padding-block: 3rem;
  }
}
.more-section .more-section-header {
  text-align: center;
  margin-block-end: 7.313rem;
}
.more-section .more-section-header .more-section-header-title {
  color: #FEFEFE;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.522rem;
}
@media (max-width: 375px) {
  .more-section .more-section-header {
    margin-block-end: 2.375rem;
  }
  .more-section .more-section-header .more-section-header-title {
    font-size: 2.25rem;
  }
}
.more-section .more-section-subsection {
  display: flex;
  flex-direction: column;
}
.more-section .more-section-subsection .subsection {
  display: flex;
  margin-inline-end: 6.75rem;
}
@media (max-width: 375px) {
  .more-section .more-section-subsection .subsection {
    flex-direction: column;
    margin-inline-end: 0rem;
  }
}
.more-section .more-section-subsection .subsection .subsection__img {
  display: flex;
  background-color: #87DE87;
  height: fit-content;
  padding-inline-end: 2rem;
  width: 696px;
  height: 480px;
}
.more-section .more-section-subsection .subsection .subsection__img img {
  width: 664px;
  height: 480px;
}
@media (max-width: 375px) {
  .more-section .more-section-subsection .subsection .subsection__img {
    order: -1;
    width: 375px;
    height: 375px;
    padding-inline-end: 0rem;
    padding-block-end: 1rem;
    margin-block-end: 1.813rem;
  }
  .more-section .more-section-subsection .subsection .subsection__img img {
    width: 375px;
    height: auto;
  }
}
.more-section .more-section-subsection .subsection__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-inline-start: 15.75rem;
  margin-inline-end: 10.5rem;
}
.more-section .more-section-subsection .subsection__content .subsection__content-title {
  color: #FEFEFE;
  font-weight: 600;
  font-size: 2.25rem;
  margin-block-end: 0.75rem;
  line-height: 2.641rem;
}
.more-section .more-section-subsection .subsection__content p {
  color: #FEFEFE;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.321rem;
}
@media (max-width: 375px) {
  .more-section .more-section-subsection .subsection__content {
    order: 1;
    width: 100%;
    margin-inline: 0rem;
    padding-inline: 2rem;
    margin-block-end: 1.5rem;
    word-break: break-word;
    text-overflow: ellipsis;
  }
  .more-section .more-section-subsection .subsection__content .subsection__content-title {
    font-size: 1.5rem;
    text-align: center;
  }
}
.more-section .more-section-subsection #subsection_reverse {
  flex-direction: row-reverse;
  margin-inline-start: 6.75rem;
  margin-block-start: 8rem;
}
@media (max-width: 375px) {
  .more-section .more-section-subsection #subsection_reverse {
    margin-inline: 0;
    margin-block: 0;
  }
}
.more-section .more-section-subsection #subsection_reverse .subsection__content {
  margin-inline-start: 10.5rem;
}
@media (max-width: 375px) {
  .more-section .more-section-subsection #subsection_reverse .subsection__content {
    margin-inline: 0rem;
    margin-block-end: 0;
  }
}
.more-section .more-section-subsection #subsection_reverse .subsection__img {
  display: flex;
  background-color: #87DE87;
  height: fit-content;
  padding-inline-start: 2rem;
  width: 696px;
  height: 480px;
}
.more-section .more-section-subsection #subsection_reverse .subsection__img img {
  width: 664px;
  height: 480px;
}
@media (max-width: 375px) {
  .more-section .more-section-subsection #subsection_reverse .subsection__img {
    width: 375px;
    height: 375px;
    padding-inline-start: 0rem;
    padding-block-end: 1rem;
    margin-block-end: 1.813rem;
  }
  .more-section .more-section-subsection #subsection_reverse .subsection__img img {
    width: 375px;
    height: auto;
  }
}
@media (max-width: 375px) {
  .more-section .more-section-subsection #subsection_reverse {
    flex-direction: column;
  }
}
.more-section .more-section-subsection .subsection-learn-more-btn {
  border: none;
  cursor: pointer;
  border-radius: 0.75rem;
  background-color: #87DE87;
  color: #333333;
  padding: 1.563rem 2.688rem;
  font-weight: 700;
  font-size: 1.125rem;
  text-align: center;
  line-height: 1.312rem;
  align-self: center;
  margin-block: 6rem;
  text-transform: uppercase;
}

.email-section {
  width: 100%;
  display: flex;
  padding-block: 7.5rem;
  padding-inline: 33.75rem;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 375px) {
  .email-section {
    padding-block: 3rem;
    padding-inline: 2rem;
  }
}
.email-section h1 {
  font-size: 3rem;
  color: #333333;
  font-weight: 700;
  line-height: 3.522rem;
  margin-block-end: 1.5rem;
  text-align: center;
}
@media (max-width: 375px) {
  .email-section h1 {
    margin-block-end: 1.875rem;
  }
}
.email-section p {
  color: #333333;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.761rem;
  margin-block-end: 4.375rem;
}
@media (max-width: 375px) {
  .email-section p {
    font-size: 1rem;
    line-height: 1.174rem;
    margin-block-end: 2rem;
  }
}
.email-section .box {
  width: 696px;
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: 1px solid #FEFEFE;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2509803922);
}
@media (max-width: 375px) {
  .email-section .box {
    width: auto;
    padding: 0;
    border: none;
  }
}
.email-section .box .form-box {
  display: flex;
  justify-content: space-between;
}
.email-section .box .form-box input {
  border: none;
  font-weight: 400;
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.312rem;
  margin-inline-start: 0.75rem;
  width: auto;
}
@media (max-width: 375px) {
  .email-section .box .form-box input {
    width: auto;
  }
}
.email-section .box .form-box input:focus {
  outline: none;
}
.email-section .box .form-box button {
  background-color: #87DE87;
  border: none;
  cursor: pointer;
  border-radius: 0.75rem;
  padding-block: 0.625rem;
  padding-inline: 1.75rem;
  font-weight: 700;
  color: #333333;
  font-size: 1.5rem;
  line-height: 1.761rem;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 375px) {
  .email-section .box .form-box button {
    font-size: 1.125rem;
    padding-inline: 1.5rem;
    padding-block: 1rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

footer {
  width: 100%;
  background-color: #87DE87;
}
footer .footer-nav {
  padding-inline-start: 6.75rem;
  padding-block-start: 3rem;
  padding-block-end: 6rem;
}
@media (max-width: 375px) {
  footer .footer-nav {
    padding-block: 0;
    padding-inline: 0;
    text-align: center;
  }
}
footer .footer-nav h2 {
  color: #333333;
  margin-block-end: 0.625rem;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.761rem;
}
footer .footer-nav h3 {
  color: #333333;
  margin-block-end: 0.625rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.321rem;
}
footer .footer-nav p, footer .footer-nav a {
  color: #333333;
  font-weight: 400;
  font-size: 1.125rem;
  margin-block-end: 0.625rem;
  line-height: 1.321rem;
  text-decoration: none;
}
footer .footer-nav .company-info {
  display: flex;
  justify-content: space-between;
  margin-block-start: 1.5rem;
}
footer .footer-nav .products, footer .footer-nav .company {
  display: flex;
  flex-direction: column;
}
@media (max-width: 375px) {
  footer .footer-nav .products, footer .footer-nav .company {
    margin-block-end: 4rem;
  }
}
footer .footer-nav .social-media {
  margin-inline-end: 15.75rem;
}
footer .footer-nav .social-media h3 {
  color: #000000;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.321rem;
  margin-block-end: 1.125rem;
}
footer .footer-nav .social-media .social-media-icons {
  display: flex;
}
footer .footer-nav .social-media .social-media-icons .icon {
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  margin-inline-end: 1.5rem;
  padding: 0.5rem;
}
@media (max-width: 375px) {
  footer .footer-nav .social-media {
    margin-inline: 3.5rem;
    margin-block-end: 3rem;
  }
}
@media (max-width: 375px) {
  footer .footer-nav .company-info {
    display: flex;
    flex-direction: column;
  }
  footer .footer-nav .company-name {
    margin-block-end: 4rem;
  }
}
footer .footer-info {
  width: 100%;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 6.75rem;
  padding-block: 0.813rem;
}
@media (max-width: 375px) {
  footer .footer-info {
    flex-direction: column;
    padding-block: 1rem;
    padding-inline: 0rem;
    text-align: center;
    gap: 0.75rem;
  }
}
footer .footer-info p {
  color: #FEFEFE;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.321rem;
}
@media (max-width: 375px) {
  footer .footer-info p {
    order: 1;
  }
}
footer .footer-info ul {
  list-style-type: none;
  display: flex;
}
footer .footer-info ul li {
  margin-inline-start: 2.25rem;
}
@media (max-width: 375px) {
  footer .footer-info ul li {
    margin-inline: 0.75rem;
  }
}
footer .footer-info ul li a {
  text-decoration: none;
  color: #FEFEFE;
  font-weight: 400;
  font-size: 1.125rem;
}
@media (max-width: 375px) {
  footer .footer-info ul {
    order: -1;
  }
}

/*# sourceMappingURL=style.css.map */
