@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Raleway;
  height: 100vh;
}

header {
  background-color: #87DE87;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem;
  padding-inline: 6.75rem;
  width: 100%;
  height: 6.313rem;
}

.navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar ul li {
  margin-inline-start: 1.5rem;
}
.navbar ul li a {
  font-size: 1.125rem;
  font-weight: 600;
  text-decoration: none;
  color: #333333;
}

.header-btn {
  background-color: #FFFFFF;
  border: none;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2509803922);
  color: #333333;
  font-weight: 700;
  font-size: 1.125rem;
  cursor: pointer;
  width: 8rem;
  height: 2.5rem;
  top: 1.875rem;
  line-height: 1.321rem;
  font-family: Raleway;
}

.hero-section {
  display: flex;
  position: relative;
  width: 100%;
  height: 640px;
}
.hero-section .hero-section__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.2509803922) inset;
}
.hero-section .hero-section__info {
  position: absolute;
  width: 627px;
  height: 228px;
  top: 307px;
  left: 196px;
  gap: 0px;
  opacity: 0px;
  background-color: #333333;
}
.hero-section .hero-section__info h1 {
  color: #FEFEFE;
  margin-block-end: 1.5rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.522rem;
}
.hero-section .hero-section__info p {
  color: #FEFEFE;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.321rem;
}
.hero-section .hero-section__info .hero-section__content {
  margin-block: 2rem;
  margin-inline-start: 1.5rem;
  margin-inline-end: 1.188rem;
}
.hero-section .hero-section__green-bar {
  background-color: #87DE87;
  width: 32px;
  height: 100%;
}

.card-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 7.5rem 6.75rem;
}
.card-section .card-section-header h1 {
  color: #333333;
  font-size: 3rem;
  font-weight: 700;
  margin-block-end: 5.375rem;
  text-align: center;
}
.card-section .card-section-content {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.card-section .card-section__card {
  display: flex;
  flex-direction: column;
  padding-block: 2rem;
  padding-inline: 2rem 2.125rem;
  background-color: #333333;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2509803922);
}
.card-section .card-section__card .card-section__card--header {
  display: flex;
  align-items: center;
  margin-block-end: 1.063rem;
}
.card-section .card-section__card .card-section__card--header .icon-container {
  background-color: #87DE87;
  border-radius: 5rem;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: 1.5rem;
}
.card-section .card-section__card .card-section__card--header .card-section__card--title h3 {
  font-weight: 600;
  font-size: 1.5rem;
  color: #FEFEFE;
  margin-block-end: 0.625rem;
}
.card-section .card-section__card .card-section__card--header .card-section__card--title h4 {
  font-weight: 400;
  font-size: 1.5rem;
  font-style: italic;
  color: #FEFEFE;
}
.card-section .card-section__card .card-section__card--content p {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.321rem;
  color: #FEFEFE;
  text-align: left;
}

.more-section {
  width: 100%;
  background-color: #333333;
  padding-block-start: 4rem;
}
.more-section .more-section-header {
  text-align: center;
  margin-block-end: 7.313rem;
}
.more-section .more-section-header h1 {
  color: #FEFEFE;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.522rem;
}
.more-section .more-section-subsection {
  display: flex;
  flex-direction: column;
}
.more-section .more-section-subsection .subsection-normal {
  display: flex;
  margin-inline-end: 6.75rem;
}
.more-section .more-section-subsection .subsection-normal .subsection__img {
  display: flex;
  background-color: #87DE87;
  width: 50%;
  height: fit-content;
  padding-inline-end: 2rem;
  width: 696px;
  height: 480px;
}
.more-section .more-section-subsection .subsection-normal .subsection__img img {
  width: 664px;
  height: 480px;
}
.more-section .more-section-subsection #subsection_reverse {
  flex-direction: row-reverse;
  margin-inline-start: 6.75rem;
  margin-block-start: 8rem;
}
.more-section .more-section-subsection #subsection_reverse .subsection__content {
  margin-inline-start: 10.5rem;
}
.more-section .more-section-subsection #subsection_reverse .subsection__img {
  display: flex;
  background-color: #87DE87;
  width: 50%;
  height: fit-content;
  padding-inline-start: 2rem;
  width: 696px;
  height: 480px;
}
.more-section .more-section-subsection #subsection_reverse .subsection__img img {
  width: 664px;
  height: 480px;
}
.more-section .more-section-subsection .subsection__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-inline-start: 15.75rem;
  margin-inline-end: 10.5rem;
}
.more-section .more-section-subsection .subsection__content h2 {
  color: #FEFEFE;
  font-weight: 600;
  font-size: 2.25rem;
  margin-block-end: 0.75rem;
  line-height: 2.641rem;
}
.more-section .more-section-subsection .subsection__content p {
  color: #FEFEFE;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.321rem;
}
.more-section .more-section-subsection .subsection-learn-more-btn {
  border: none;
  cursor: pointer;
  border-radius: 0.75rem;
  background-color: #87DE87;
  color: #333333;
  padding: 1.563rem 2.688rem;
  font-weight: 700;
  font-size: 1.125rem;
  text-align: center;
  line-height: 1.312rem;
  align-self: center;
  margin-block: 6rem;
}

.email-section {
  width: 100%;
  display: flex;
  padding-block: 7.5rem;
  flex-direction: column;
  align-items: center;
}
.email-section h1 {
  font-size: 3rem;
  color: #333333;
  font-weight: 700;
  line-height: 3.522rem;
  margin-block-end: 1.5rem;
  text-align: center;
}
.email-section p {
  color: #333333;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.761rem;
  margin-block-end: 4.375rem;
}
.email-section .box {
  width: 696px;
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: 1px solid #FEFEFE;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2509803922);
}
.email-section .box .form-box {
  display: flex;
  justify-content: space-between;
}
.email-section .box .form-box input {
  border: none;
  font-weight: 400;
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.312rem;
  margin-inline-start: 0.75rem;
  width: 500px;
}
.email-section .box .form-box input:focus {
  outline: none;
}
.email-section .box .form-box button {
  background-color: #87DE87;
  border: none;
  cursor: pointer;
  border-radius: 0.75rem;
  padding-block: 0.625rem;
  padding-inline: 1.75rem;
  font-weight: 700;
  color: #333333;
  font-size: 1.5rem;
  line-height: 1.761rem;
  text-align: center;
}

footer {
  width: 100%;
  background-color: #87DE87;
}
footer .footer-nav {
  padding-inline-start: 6.75rem;
  padding-block-start: 3rem;
  padding-block-end: 6rem;
  margin-inline-end: 3rem;
}
footer .footer-nav h2 {
  color: #333333;
  margin-block-end: 0.625rem;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.761rem;
}
footer .footer-nav h3 {
  color: #333333;
  margin-block-end: 0.625rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.321rem;
}
footer .footer-nav p, footer .footer-nav a {
  color: #333333;
  font-weight: 400;
  font-size: 1.125rem;
  margin-block-end: 0.625rem;
  line-height: 1.321rem;
  text-decoration: none;
}
footer .footer-nav .company-info {
  display: flex;
  justify-content: space-between;
  margin-block-start: 1.5rem;
}
footer .footer-nav .products, footer .footer-nav .company {
  display: flex;
  flex-direction: column;
}
footer .footer-nav .social-media h3 {
  color: #000000;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.321rem;
}
footer .footer-nav .social-media .social-media-icons {
  display: flex;
}
footer .footer-nav .social-media .social-media-icons .icon {
  background-color: #333333;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  margin-inline-end: 1rem;
}
footer .footer-info {
  width: 100%;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 6.75rem;
  padding-block: 0.813rem;
}
footer .footer-info p {
  color: #FEFEFE;
  font-weight: 400;
  font-size: 1.125rem;
}
footer .footer-info ul {
  list-style-type: none;
  display: flex;
}
footer .footer-info ul li {
  margin-inline-start: 2.25rem;
}
footer .footer-info ul li a {
  text-decoration: none;
  color: #FEFEFE;
  font-weight: 400;
  font-size: 1.125rem;
}

/*# sourceMappingURL=style.css.map */
