@use 'breakpoints' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}


body{
    display: flex;
    flex-direction: column;
    font-family: Raleway;
    height: 100vh;
}

header{  
    background-color: $green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.5rem;
    padding-inline: 6.75rem;
    width: 100%;
    height: 6.313rem;
    @include respond-to(small){
        padding-inline: 2rem;
        padding-block: 0;
        height: 4rem;
    }
    @include respond-to(medium){
        padding-inline: 3rem;
        padding-block: 0;
        height: 4rem;
    }
    @include respond-to(large){
        padding-inline: 2rem;
        padding-block: 1rem;
        height: 4rem;
    }
}

.navbar{
    .nav-items{
        display: flex;
        list-style: none;
        align-items: center;
        li{
           margin-inline-start: 1.5rem; 
            a{
                font-size: 1.125rem;
                font-weight: 600;
                text-decoration: none;
                color: $grey;
            }
        }
    } 
    .sidebar{
        display: none;
    }
    .hamburger{
        display: none;
        border: none;
        height: 2rem;
        cursor: pointer;
    }

    @include respond-to(small){
        .nav-items{
            display: none;
        }
        .sidebar{
            position: fixed;
            top: 0;
            right: 0;
            height: 100vh;
            width: 375px;
            z-index: 9999;
            background-color: $white;
            display: none;
            flex-direction: column;
            list-style-type: none;
            transition: max-width 0.2s;
            li{
                padding-block: 1rem;
                padding-inline: 2rem;
                width: 100%;
                &:hover{
                    background-color: rgb(238, 238, 238);
                }
                a{  
                    font-size: 1.5rem;
                    font-weight: 600;
                    text-decoration: none;
                    text-align: left;
                    line-height: 1.761rem;
                    color: $grey;
                    width: 100%;
                }
            }
            .close-btn{
                width: 2rem;
                height: 2rem;
                border: none;
                padding: 0;
                margin: 0;
                margin-block-start: 1rem;
                margin-block-end: 2rem;
                margin-inline: auto 2rem;
                cursor: pointer;
                }
            .header-btn{
                margin-block: auto 3rem;
                margin-inline-start: 2rem;
                font-size: 1.125rem;
                font-weight: 700;
                line-height: 1.321rem;
                padding-inline: 1.75rem;
                padding-block: 1.125rem;
                color: $grey;
                background-color: $green;
                box-shadow: 0px 0px 6px 0px #00000040;
                width: fit-content;
                height: auto;
            }
        }
        
        .hamburger{
            display: block
        }
    }
    @include respond-to(medium){
        .nav-items{
            display: none;
        }
        .sidebar{
            position: fixed;
            top: 0;
            right: 0;
            height: 100vh;
            width: 375px;
            z-index: 9999;
            background-color: $white;
            display: none;
            flex-direction: column;
            list-style-type: none;
            li{
                padding-block: 1rem;
                padding-inline: 2rem;
                width: 100%;
                &:hover{
                    background-color: rgb(238, 238, 238);
                }
                a{  
                    font-size: 1.5rem;
                    font-weight: 600;
                    text-decoration: none;
                    text-align: left;
                    line-height: 1.761rem;
                    color: $grey;
                    width: 100%;
                }
            }
            .close-btn{
                width: 2rem;
                height: 2rem;
                border: none;
                padding: 0;
                margin: 0;
                margin-block-start: 1rem;
                margin-block-end: 2rem;
                margin-inline: auto 2rem;
                cursor: pointer;

                }
            .header-btn{
                margin-block: auto 3rem;
                margin-inline-start: 2rem;
                font-size: 1.125rem;
                font-weight: 700;
                line-height: 1.321rem;
                padding-inline: 1.75rem;
                padding-block: 1.125rem;
                color: $grey;
                background-color: $green;
                box-shadow: 0px 0px 6px 0px #00000040;
                width: fit-content;
                height: auto;
            }
        }
        .hamburger{
            display: block
        }
        
    }
}


.header-btn{
    background-color: #FFFFFF;
    border: none;
    box-shadow: 0px 0px 6px 0px #00000040;
    color: $grey;
    font-weight: 700;
    font-size: 1.125rem;
    cursor: pointer;
    width: 8rem;
    height: 2.5rem;
    top: 1.875rem;
    line-height: 1.321rem;
    font-family: Raleway;
    text-transform: uppercase;
}

.hero-section{
    display: flex;
    position: relative;
    width: 100%;
    height: 640px;

    @include respond-to(small){
        flex-direction: column;
    }
    @include respond-to(medium){
        flex-direction: column;
        margin-block-end: 3.063rem;
    }

    .hero-section__img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        box-shadow: 0px 0px 24px 0px #00000040 inset;
    }
    .hero-section__info{
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 627px;
        height: auto;
        top: 307px;
        left: 196px;
        background-color: $grey;
        box-sizing: border-box;
        @include respond-to(small){
            position: relative;
            width: 100%;
            top: 0;
            left: 0;
            flex-direction: column;
        }
        @include respond-to(medium){
            position: relative;
            width: 100%;
            top: 0;
            left: 0;
            flex-direction: column;
        }
        @include respond-to(large){
            width: 60%;
        }
        

        h1{
            color: $white;
            margin-block-end: 1.5rem;
            font-size: 3rem;
            font-weight: 600;
            line-height: 3.522rem;
            @include respond-to(small){
                font-size: 2.25rem;
                text-align: center;
                margin-block-end: 1rem;
            }
            @include respond-to(medium){
                font-size: 2.25rem;
                text-align: center;
                margin-block-end: 1rem;
            }
        }

        p{
            color: $white;
            font-weight: 400;
            font-size: 1.125rem;
            line-height: 1.321rem;
            @include respond-to(small){
                font-size: 1rem;
            }
            @include respond-to(medium){
                font-size: 1rem;
            }
        }

        .hero-section__content{
            margin-block: 2rem;
            margin-inline-start: 1.5rem;
            margin-inline-end: 1.188rem;
            @include respond-to(small){
                order: -1;
                margin-inline: 2rem;
            }
            @include respond-to(medium){
                order: -1;
                margin-inline: 2rem;
            }
        }

        .hero-section__green-bar{
            background-color: $green;
            width: 2rem;
            height: auto;
            @include respond-to(small){
                order: 1;
                height: 3.063rem;
                width: 100%;
            }
            @include respond-to(medium){
                order: 1;
                height: 3.063rem;
                width: 100%;
            }
        }
    }
    
}


.card-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 7.5rem 6.75rem;
    @include respond-to(small){
        padding-inline: 1.938rem;
        padding-block-start: 3rem;
        padding-block-end: 3.25rem;
    }
    @include respond-to(medium){
        padding-inline: 1.938rem;
        padding-block-start: 3rem;
        padding-block-end: 3.25rem;
    }
    @include respond-to(large){
        padding-inline: 0.6rem;
        padding-block-start: 2.5rem;
        padding-block-end: 3.25rem;
    }

    .card-section-header{
        h1{
            color: $grey;
            font-size: 3rem;
            font-weight: 700;
            margin-block-end: 5.375rem;
            text-align: center;
            @include respond-to(small)
            {
                font-size: 2.25rem;
                margin-block-end: 5.75rem;
            }
            @include respond-to(medium)
            {
                font-size: 2.25rem;
                margin-block-start: 3.063rem;
                margin-block-end:2rem;
            }
            @include respond-to(large)
            {
                font-size: 3rem;
                margin-block-end: 3rem;
            }
        }
    }
    
    .card-section-content{
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        @include respond-to(small){
            flex-direction: column;
            gap: 5.75rem;
        }
        @include respond-to(medium){
            flex-direction: column;
            gap: 5.75rem;
        }
        @include respond-to(large){
            gap: 0.75rem;
        }
    }

    .card-section__card{
        display: flex;
        flex-direction: column;
        padding-block: 2rem;
        padding-inline: 2rem 2.125rem;
        background-color: $grey;
        box-shadow: 0px 4px 6px 0px #00000040;

        @include respond-to(small){
            padding: 0rem; 
            position: relative;        
        }
        

        .card-section__card--header{
            display: flex;
            align-items: center;
            margin-block-end: 1.063rem;
            @include respond-to(small){
                flex-direction: column;
                margin-block-end: 0;
            }

            .icon-container {
                background-color: $green;
                border-radius:5rem; 
                padding: 1.25rem; 
                display: flex;
                align-items: center;
                justify-content: center;
                margin-inline-end: 1.5rem;
                
                @include respond-to(small){
                    position: absolute;
                    margin-inline: 0;
                    top: -60px;
                }
            }

            .card-section__card--title{
                h3{
                    font-weight: 600;
                    font-size: 1.5rem;
                    color: $white;
                    margin-block-end: 0.625rem;
                }
                h4{
                    font-weight: 400;
                    font-size: 1.5rem;
                    font-style: italic;
                    color: $white;
                }
                @include respond-to(small){
                    text-align: center;
                    margin-block-start: 5.75rem;
                }
            }
        }
        
        .card-section__card--content{
            p{
                font-weight: 400;
                font-size: 1.125rem;
                line-height: 1.321rem;
                color: $white;
                text-align: left;
            }
            @include respond-to(small){
                padding-inline: 1rem;
                padding-block: 1.5rem;
            }
        }
    }

}


.more-section{
    width: 100%;
    background-color: $grey;
    padding-block-start: 4rem;

    @include respond-to(small){
        padding-block: 3rem;
    }
    @include respond-to(medium){
        padding-block: 3rem;
    }
    @include respond-to(large){
        padding-block: 3rem;
    }

    .more-section-header{
        text-align: center;
        margin-block-end: 7.313rem;
        .more-section-header-title{
            color: $white;
            font-size: 3rem;
            font-weight: 700;
            line-height: 3.522rem;
        } 

        @include respond-to(small){
            margin-block-end: 2.375rem;
            .more-section-header-title{
                font-size: 2.25rem;
            }
        }
        @include respond-to(medium){
            margin-block-end: 2.375rem;
            .more-section-header-title{
                font-size: 2.25rem;
            }
        }
        @include respond-to(large){
            margin-block-end: 2.375rem;
            .more-section-header-title{
                font-size: 3rem;
            }
        }
    }

    .more-section-subsection{
        display: flex;
        flex-direction: column;

        .subsection{
            display: flex;
            margin-inline-end: 6.75rem;
            @include respond-to(small){
                flex-direction: column;
                margin-inline-end: 0rem;
            }
            @include respond-to(medium){
                flex-direction: column;
                margin-inline-end: 0rem;
            }
            @include respond-to(large){
                margin-inline-end: 2rem;
            }
            @include respond-to(xlarge){
                margin-inline-end: 2rem;
            }

            .subsection__img{
                display: flex;
                background-color: $green;
                height: fit-content;
                padding-inline-end: 2rem;
                width: 696px;
                height: 480px;
                
                img {
                    width: 664px;
                    height: 480px;
                }
                @include respond-to(small){
                    order: -1;
                    width: 100%;
                    height: 375px;
                    padding-inline-end: 0rem;
                    padding-block-end: 1rem;
                    margin-block-end: 1.813rem;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                @include respond-to(medium){
                    order: -1;
                    width: 100%;
                    height: 480px;
                    padding-inline-end: 0rem;
                    padding-block-end: 1rem;
                    margin-block-end: 1.813rem;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                @include respond-to(large){
                    width: 70%;
                    height: 480px;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }  
        }

        .subsection__content{
            width: 50%;
            display: flex;
            flex-direction: column;  
            margin-inline-start: 15.75rem; 
            margin-inline-end: 10.5rem; 
            .subsection__content-title{
                color: $white;
                font-weight: 600;
                font-size: 2.25rem;
                margin-block-end: 0.75rem;
                line-height: 2.641rem;
            }
            p{
                color: $white;
                font-size: 1.125rem;
                font-weight: 400;
                line-height: 1.321rem;
            }

            @include respond-to(small){
                order: 1;
                width: 100%;
                margin-inline: 0rem;
                padding-inline: 2rem;
                margin-block-end: 1.5rem;
                word-break: break-word;
                text-overflow: ellipsis;
                .subsection__content-title{
                    font-size: 1.5rem;
                    text-align: center;
                }
            }
            @include respond-to(medium){
                order: 1;
                width: 100%;
                margin-inline: 0rem;
                padding-inline: 2rem;
                margin-block-end: 1.5rem;
                word-break: break-word;
                text-overflow: ellipsis;
                .subsection__content-title{
                    font-size: 1.5rem;
                    text-align: center;
                }
            }
            @include respond-to(large){
                width: 50%;
                margin-inline: 0rem;
                padding-inline: 2rem;
                margin-block-end: 1.5rem;
                word-break: break-word;
                text-overflow: ellipsis;
                .subsection__content-title{
                    font-size: 1.5rem;
                    text-align: center;
                }
            }
            @include respond-to(xlarge){
                width: 50%;
                margin-inline: 0 2.5rem;
                padding-inline: 3rem;
                margin-block-end: 1.5rem;
                word-break: break-word;
                text-overflow: ellipsis;
                .subsection__content-title{
                    font-size: 1.5rem;
                    text-align: center;
                }
            }
        }

        #subsection_reverse{
            flex-direction: row-reverse;
            margin-inline-start: 6.75rem;
            margin-block-start:8rem;
            @include respond-to(small){
                margin-inline: 0;
                margin-block: 0;
            }
            @include respond-to(medium){
                margin-inline: 0;
                margin-block: 0;
            }
            @include respond-to(large){
                margin-inline: 1.5rem 0;
                margin-block: 0;
            }
            @include respond-to(xlarge){
                margin-inline: 1.5rem 0;
                margin-block-start: 4rem;
            }
            .subsection__content{
                margin-inline-start: 10.5rem;
                @include respond-to(small){
                    margin-inline: 0rem;
                    margin-block-end: 0;
                }
                @include respond-to(medium){
                    margin-inline: 0rem;
                    margin-block-end: 0;
                }
                @include respond-to(large){
                    margin-inline: 0rem;
                    margin-block-end: 0;
                }
                @include respond-to(xlarge){
                    margin-inline-start: 2.5rem;
                    margin-inline-end:0;
                    margin-block-end: 0;
                }
            }

            .subsection__img{
                display: flex;
                background-color: $green;
                height: fit-content;
                padding-inline-start: 2rem;
                width: 696px;
                height: 480px;
                
                img {
                    width: 664px;
                    height: 480px;
                }
                @include respond-to(small){
                    width: 100%;
                    height: 375px;
                    padding-inline-start: 0rem;
                    padding-block-end: 1rem;
                    margin-block-end: 1.813rem;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                @include respond-to(medium){
                    width: 100%;
                    height: 480px;
                    padding-inline-start: 0rem;
                    padding-block-end: 1rem;
                    margin-block-end: 1.813rem;
                    img{
                        width:100%;
                        height: auto;
                    }
                }
                @include respond-to(large){
                    width: 70%;
                    height: 480px;
                    padding-inline-end: 0;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                @include respond-to(xlarge){
                    margin-inline-start: 0;
                }
                
            }
            @include respond-to(small){
                flex-direction: column;
            }
            @include respond-to(medium){
                flex-direction: column;
            }
        }

        .subsection-learn-more-btn{
            border: none;
            cursor: pointer;
            border-radius: 0.75rem;
            background-color: $green;
            color: $grey;
            padding: 1.563rem 2.688rem;
            font-weight: 700;
            font-size: 1.125rem;
            text-align: center;
            line-height: 1.312rem;   
            align-self: center;
            margin-block: 6rem;
            text-transform: uppercase;
            @include respond-to(small){
                display: none;
            }
            @include respond-to(medium){
                display: block;
                margin-block: 2rem 0;
            }
            @include respond-to(large){
                display: block;
                margin-block: 2rem 0;
            }
        }
    }
}

.images-section{
    padding-block-start: 6rem;

    @include respond-to(small){
        padding-block-start: 3rem;
    }
    @include respond-to(medium){
        padding-block-start: 4rem;
    }
    @include respond-to(large){
        padding-block-start: 4rem;
    }
    
    .images-section-title{
        font-size: 3rem;
        font-weight: 700;
        line-height: 3.522rem;
        text-align: center;
        color: $grey;
        @include respond-to(small){
            font-size: 2.25rem;
            line-height: 2.641rem;
        }
        @include respond-to(medium){
            font-size: 2.25rem;
            line-height: 2.641rem;
        }
    }
    
    .images-container{
        margin-block-start: 6.875rem;
        @include respond-to(small){
            margin-block-start: 3rem;
        }
        @include respond-to(medium){
            margin-block-start: 3rem;
        }
        @include respond-to(large){
            margin-block-start: 4.5rem;
        }
    }

    .glide__slide{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .image-item{
        width: 552px;
        height: 321px;    
        object-fit: cover;
        @include respond-to(small){
            width: 312px;
            height: 321px;
        }
        @include respond-to(medium){
            width: 100%;
            height: 321px;
        }
        @include respond-to(large){
            width: 100%;
            height: 321px;
        }
    }

    .glide__arrow{
        border-radius: 50%;
        background-color: $green;
        padding: 1.125rem;
        border: none;
        box-shadow: 0px 0px 8px 0px #00000040;

        @include respond-to(small){
            padding: 0.36rem;
            svg{
                height: 22px;
                width: 22px;
            }
            background-color: $white;
        }
        @include respond-to(medium){
            padding: 0.36rem;
            svg{
                height: 22px;
                width: 22px;
            }
            background-color: $white;
        }
    }

    .glide__arrow--left{
        left: 133px;
        @include respond-to(small){
            left: 37px
        }
        @include respond-to(medium){
            left: 70px
        }
    }

    .glide__arrow--right{
        right: 133px;
        @include respond-to(small){
            right: 37px;
        }
        @include respond-to(medium){
            right: 70px;
        }
    }
}


.email-section{
    width: 100%;
    display: flex;
    padding-block: 7.5rem;
    padding-inline: 33.75rem;
    flex-direction: column;
    align-items: center;
    @include respond-to(small){
        padding-block: 3rem;
        padding-inline: 2rem;
    }
    @include respond-to(medium){
        padding-block: 3rem;
        padding-inline: 2rem;
    }
    @include respond-to(large){
        padding-block: 3rem;
        padding-inline: 2rem;
    }

    h1{
        font-size: 3rem;
        color: $grey;
        font-weight: 700;
        line-height: 3.522rem;
        margin-block-end: 1.5rem;
        text-align: center;
        @include respond-to(small){
            margin-block-end: 1.875rem;
        }
        @include respond-to(medium){
            margin-block-end: 1.875rem;
        }
        @include respond-to(large){
            margin-block-end: 1.875rem;
        }
    }

    p{
        color: $grey;
        text-align: center;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.761rem;
        margin-block-end: 4.375rem;
        @include respond-to(small){
            font-size: 1rem;
            line-height: 1.174rem;
            margin-block-end: 2rem;
        }
        @include respond-to(medium){
            font-size: 1rem;
            line-height: 1.174rem;
            margin-block-end: 2rem;
        }
    }

    .box{
        width: 696px;
        padding: 0.5rem;
        border-radius: 0.75rem;
        border: 1px solid $white;
        box-shadow: 0px 0px 8px 0px #00000040;

        @include respond-to(small){
            width: auto;
            padding: 0;
            border: none;
        }
        @include respond-to(medium){
            width: 70%;
            padding: 0;
            border: none;
            text-align: center;
        }

        .form-box{
            display: flex;
            justify-content: space-between;

            input{
                border: none;
                font-weight: 400;
                font-size: 1.125rem;
                font-style: italic;
                line-height: 1.312rem;
                margin-inline-start: 0.75rem;
                width: auto;
                @include respond-to(small){
                    width: auto;
                }
                @include respond-to(medium){
                    width: auto;
                }
                &:focus{
                    outline: none;
                }
            }
    
            button{
                background-color: $green;
                border: none;
                cursor: pointer;
                border-radius: 0.75rem;
                padding-block: 0.625rem;
                padding-inline: 1.75rem;
                font-weight: 700;
                color: $grey;
                font-size: 1.5rem;
                line-height: 1.761rem;
                text-align: center;
                text-transform: uppercase;

                @include respond-to(small){
                    font-size: 1.125rem;
                    padding-inline: 1.5rem;
                    padding-block: 1rem;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
                @include respond-to(medium){
                    font-size: 1.125rem;
                    padding-inline: 1.5rem;
                    padding-block: 1rem;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }
    }
}

footer{
    width: 100%;
    background-color: $green;
    .footer-nav{
        padding-inline-start: 6.75rem; 
        padding-block-start: 3rem;
        padding-block-end: 6rem;

        @include respond-to(small){
            padding-block: 0;
            padding-inline: 0; 
            text-align: center;
        }
        @include respond-to(medium){
            padding-block: 0;
            padding-inline: 0; 
            text-align: center;
        }
        @include respond-to(large){
            padding-block: 1.5rem;
            padding-inline: 1.5rem; 
        }
    
        h2{
            color: $grey;
            margin-block-end: 0.625rem;
            font-weight: 600;
            font-size: 1.5rem;
            line-height: 1.761rem;
        }

        h3{
            color: $grey;
            margin-block-end: 0.625rem;
            font-weight: 600;
            font-size: 1.125rem;
            line-height: 1.321rem;
        }

        p, a{
            color: $grey;
            font-weight: 400;
            font-size: 1.125rem;
            margin-block-end: 0.625rem;
            line-height: 1.321rem;
            text-decoration: none;
        }


        .company-info{
            display: flex;
            justify-content: space-between;
            margin-block-start: 1.5rem;
        }

        .products, .company{
            display: flex;
            flex-direction: column;
            @include respond-to(small){
                margin-block-end: 4rem;
            }
            @include respond-to(medium){
                margin-block-end: 4rem;
            }
        }

        .social-media{
            margin-inline-end: 15.75rem;
            h3{
                color: #000000;
                font-weight: 600;
                font-size: 1.125rem;
                line-height: 1.321rem;
                margin-block-end: 1.125rem;
            }

            .social-media-icons{
                display: flex;
                
                .icon{
                    background-color: $grey;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5rem;
                    margin-inline-end: 1.5rem;
                    padding: 0.5rem;
                    @include respond-to(small){
                        margin-inline-end: 1.5rem;
                    }
                    @include respond-to(medium){
                        margin-inline-end: 0; 
                    }
                }
                @include respond-to(small){
                    margin-inline-start: 3.5rem;
                    margin-inline-end: 2rem;
                    margin-block-end: 3rem;
                }
                @include respond-to(medium){
                    width: 70%;
                    justify-content: space-around;
                    margin-inline: 0;
                }
            }
            @include respond-to(small){
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-inline: 3.5rem;
                margin-block-end: 3rem;
            }
            @include respond-to(medium){
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-inline: 3.5rem;
                margin-block-end: 3rem;
            }
            @include respond-to(large){
                margin-inline-end: 0;
            }
        }
        @include respond-to(small){
            .company-info{
                display: flex;
                flex-direction: column;
            }
            .company-name{
                margin-block-end: 4rem;               
            }
        }
        @include respond-to(medium){
            .company-info{
                display: flex;
                flex-direction: column;
            }
            .company-name{
                margin-block-end: 4rem;               
            }
        }
    }

    .footer-info{
        width: 100%;
        background-color: $grey;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 6.75rem;
        padding-block: 0.813rem;

        @include respond-to(small){
            flex-direction: column;
            padding-block: 1rem;
            padding-inline: 0rem;
            text-align: center;
            gap: 0.75rem;
        }
        @include respond-to(medium){
            flex-direction: row;
            padding-inline: 1rem;
        }
        @include respond-to(large){
            flex-direction: row;
            padding-inline: 1rem;
        }

        p{
            color: $white;
            font-weight: 400;
            font-size: 1.125rem;
            line-height: 1.321rem;
            @include respond-to(small){
                order: 1;
            }
            @include respond-to(medium){
                order: -1;
            }
        }
        ul{
            list-style-type: none;
            display: flex;
            li {
                margin-inline-start: 2.25rem;
                @include respond-to(small){
                    margin-inline: 0.75rem; 
                }
                @include respond-to(medium){
                    margin-inline: 2rem 0rem; 
                }
                a{
                    text-decoration: none;
                    color: $white;
                    font-weight: 400;
                    font-size: 1.125rem;
                }
            }
            @include respond-to(small){
                order: -1;
            }
            @include respond-to(medium){
                order: 1;
            }
        }
    }
}
