$green: hsl(157, 100%, 32%);
$grey: hsl(0, 0%, 21%);
$darkgrey: hsl(0, 0%, 15%);
$lightgrey: hsl(0, 0%, 80%);
$lightgreen:hsl(157, 77%, 43%); 

$header-font-logo: 1.5rem;
$header-font-li: 1rem; 
$border-radius-btn: 0.5rem;

